In [1]:
a=(1,2)

In [2]:
print(a)

(1, 2)

In [3]:
print(type(a))

<class 'tuple'>

In [4]:
a,b=5,3
print(a)
print(b)
e=4,5
print(e)
print(type(e))

5
3
(4, 5)
<class 'tuple'>

In [9]:
e[0]
e[1]
e[-1]

5

In [14]:
f=(1,2,3,4,5,6)
f[0:3]
f[-1]
f[3:]

(4, 5, 6)

### Tuple Function

In [16]:
a=(1,2,3)
b=4,5
for i in a:
    print(i)

1
2
3

In [17]:
1 in b

False

In [18]:
1 in a

True

In [19]:
len(a)

3

In [20]:
c=a+b
c

(1, 2, 3, 4, 5)

In [21]:
d=(a,b)
d

((1, 2, 3), (4, 5))

In [23]:
a*4

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
min(a)

1

In [25]:
max(a)

3

In [26]:
a3=(1,2,"s",(1,2))
min(a3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
a4=(1,2.2)
min(a4)

1

In [28]:
l=[1,2,3,4]
tuple(l)

(1, 2, 3, 4)

In [29]:
a = 1,2
b = (4,5)
d = (a,b)
print(d[0])

(1, 2)

In [2]:
a = ('ab','abc','def')
print(min(a))

ab

In [1]:
t=int(input())
for i in range(t):
    n=int(input())
    a=[x for x in range(1,n+1)]
    l_odd=[]
    l_even=[]
    l=[]
    for i in range(len(a)):
        if a[i]%2==0:
            l_even.append(a[i])
            l_even.sort(reverse=True)
        #print(l_even)
        else:
            l_odd.append(a[i])
            #print(l_odd)
        l=l_odd+l_even
        
    #res=str(l)        
    res= str(l)[1:-1]
    res=res.replace(',',' ')
    print(res)

1
6
1  3  5  6  4  2

In [2]:
from sys import stdin

def arrange(arr, n) :
    #Your code goes here
    print(len(arr))
    l_odd=[]
    l_even=[]
    l=[]
    for i in range(len(arr)):
        print(i,end='')
        if arr[i]%2==0:
            l_even.append(arr[i])
            l_even.sort(reverse=True)
        #print(l_even)
        else:
            l_odd.append(arr[i])
            #print(l_odd)
        l=l_odd+l_even
        
    #res=str(l)        
    res=str(l)[1:-1]
    res=res.replace(',',' ')
    return res
















#to print the array/list
def printList(arr, n) :
    for i in range(n) :
        print(arr[i], end = ' ')
    print()



#main
t = int(stdin.readline().strip())

while t > 0 :
    n = int(stdin.readline().strip())
    arr = n * [0]
    arrange(arr, n)
    printList(arr, n)
    t -= 1

ValueError: invalid literal for int() with base 10: ''

# #Variable length

In [6]:
def sum2(a,b,*more):
    print(a)
    print(b)
    print(more)
    print(type(more))
    ans=a+b
    for i in more:
        ans=ans+i
    return ans
sum2(1,2,3,4,5)

1
2
(3, 4, 5)
<class 'tuple'>

15

In [9]:
def sum3(a,b):
    return a+b,a-b,a*b
c=sum3(2,3)
c

(5, -1, 6)

In [11]:
c,b,d=sum3(3,4)
print(c)
print(b)
print(d)

7
-1
12

TypeError: 'tuple' object is not callable